import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

<template>
  <b-breadcrumb :items="items"/>
</template>

<script>
export default {
  name: 'Breadcrumb',
  props: {
    first: {
      required: false,
      type: Object,
      default: {}
    }
  },
  data () {
    return {
      items: [{
        text: 'Previous',
        href: '#'
      }, {
        text: 'Current',
        active: true
      }]
    }
  }
}
</script>

<!-- Breadcrumb.vue -->
