<template>
    <div>
        <div class="card-columns"> <!--used to be <div class="row"> -->
          <!-- <div class="col-md-4 col-sm-6 mb-3" > -->
          <div class="card h-100" v-for="(tm, index) in team_members">
            <img class="card-img-top" :src="tm.frontmatter.photo" alt="card image collar">
            <div class="card-body">
              <h5 class="card-title">{{tm.frontmatter.name}}</h5>
              <p class="card-text">{{descriptionShort[index]}}</p>
            </div>
            <ul v-if="socialAvailable(tm)" class="list-group list-group-flush">
              <li class="list-group-item" align="center">
                <a v-if="tm.frontmatter.LinkedIn" target="_blank" rel="noopener noreferrer" :href="'https://www.linkedin.com/in/'.concat(String(tm.frontmatter.LinkedIn))"><font-awesome-icon :icon="['fab', 'linkedin']" size="lg"></font-awesome-icon></a>
                <a v-if="tm.frontmatter.Twitter" target="_blank" rel="noopener noreferrer" :href="'https://twitter.com/'.concat(String(tm.frontmatter.Twitter))"><font-awesome-icon :icon="['fab', 'twitter']" size="lg"></font-awesome-icon></a>
                <a v-if="tm.frontmatter.GitHub" target="_blank" rel="noopener noreferrer" :href="'https://github.com/'.concat(String(tm.frontmatter.GitHub))"><font-awesome-icon :icon="['fab', 'github']" size="lg"></font-awesome-icon></a>
                <a v-if="tm.frontmatter.Bitbucket" target="_blank" rel="noopener noreferrer" :href="'https://bitbucket.org/'.concat(String(tm.frontmatter.Bitbucket))"><font-awesome-icon :icon="['fab', 'bitbucket']" size="lg"></font-awesome-icon></a>
                <a v-if="tm.frontmatter.GitLab" target="_blank" rel="noopener noreferrer" :href="'https://gitlab.com/'.concat(String(tm.frontmatter.GitLab))"><font-awesome-icon :icon="['fab', 'gitlab']" size="lg"></font-awesome-icon></a>
                <a v-if="tm.frontmatter.Instagram" target="_blank" rel="noopener noreferrer" :href="'https://instagram.com/'.concat(String(tm.frontmatter.Instagram))"><font-awesome-icon :icon="['fab', 'instagram']" size="lg"></font-awesome-icon></a>
                <a v-if="tm.frontmatter.Facebook" target="_blank" rel="noopener noreferrer" :href="'https://www.facebook.com/'.concat(String(tm.frontmatter.Facebook))"><font-awesome-icon :icon="['fab', 'facebook']" size="lg"></font-awesome-icon></a>
                <a v-if="tm.frontmatter.WebsiteURL" target="_blank" rel="noopener noreferrer" :href="String(tm.frontmatter.WebsiteURL)"><font-awesome-icon :icon="['fa', 'globe-americas']" size="lg"></font-awesome-icon></a>
              </li>
            </ul>
            <div class="card-body">
              <b-button variant="primary" :to="tm.path">Read more</b-button>
            </div>
          </div>
      </div>
    </div>
</template>

<script>
export default {
  methods: {
    socialAvailable(tm){
      // tm short for team member
      return tm.frontmatter.LinkedIn || tm.frontmatter.Twitter || tm.frontmatter.GitHub || tm.frontmatter.Bitbucket || tm.frontmatter.GitLab || tm.frontmatter.Instagram || tm.frontmatter.Facebook || tm.frontmatter.WebsiteURL
    }
  },
  computed: {
    team_members() {
        return this.$site.pages
            .filter(x => x.path.startsWith('/peopleops/team_members') && !x.frontmatter.team_member_index)
            .sort((a,b) => (Math.random() * 2) - 1); // returns between -1 and 1 randomly to provide a random order of team members
    },

    descriptionShort() {
      // return descriptions in shortened form (30 char) if length > 33
      var shortenedDescription = []
      const shortenedLength = 40; // chars

      // loop through all team members
      for (var i=0; i<this.team_members.length; i++){
        var description = this.team_members[i].frontmatter.description
        if (description.length > shortenedLength){
          var newDesc = description.split("").reverse().join("").slice(description.length-(shortenedLength-3)).split("").reverse().join("").concat("...")
        } else {
          var newDesc = description
        }
        shortenedDescription.push(newDesc)
      }
      return shortenedDescription

      // This was bad logic. Just keeping it here for reference.
      // groupedTeamMembers() {
      //   let cols = 3; // change this if you want to change the number of items in a row
      //   let allTeamMembers = this.$site.pages
      //       .filter(x => x.path.startsWith('/peopleops/team_members') && !x.frontmatter.team_member_index)
      //       .sort((a,b) => (Math.random() * 2) - 1); // returns between -1 and 1 randomly to provide a random order of team members
      //   console.log(allTeamMembers);
      //   let groupedTeamMembers = [];
      //   for (var i = 0; i < Math.ceil(allTeamMembers.length/cols); i++){
      //     console.log(allTeamMembers[i]);
      //     groupedTeamMembers.push([]);
      //     for (var j = 0; j < cols; j++){
      //       if ((i+1)*(j+1) < allTeamMembers.length){
      //         groupedTeamMembers[i].push(allTeamMembers[(i+1)*(j+1)]);
      //       }
      //     }
      //     // groupedTeamMembers.push(allTeamMembers[i]);
      //   }
      //   return groupedTeamMembers;
      // }
    }
  }
}
</script>

<style>

.card-columns {

  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}
</style>
