import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue);

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'

<template>
  <b-breadcrumb :items="items"/>
</template>

<script>
export default {
  name: 'TeamMemberBreadcrumb',
  props: {
    name: {
      required: true,
      type: String,
      default: "Test User"
    }
  },
  data () {
    return {
      items: [{
        text: 'Team Members',
        href: '/peopleops/team_members/'
      }, {
        text: this.name,
        active: true
      }]
    }
  }
}
</script>

<!-- Breadcrumb.vue -->
